# Python
__pycache__/
*.pyc

# Ambiente virtual
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Dados grandes
data/raw/*
data/processed/*

# Power BI
*.pbix

# Ambiente Python
venv/

# Jupyter
.ipynb_checkpoints/
.jupyter_runtime/

# Python cache
__pycache__/
*.pyc

# Dados temporários
*.tmp